/* app/globals.css */
@import "tailwindcss";

/* Hide native scrollbars but keep scrolling functional */
::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Cinematic artifact scan */
@keyframes scan {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translateY(55vh);
    opacity: 0;
  }
}